@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');


@font-face {
    font-family: 'Marcheile';
    src: url('src/assets/fonts/Marcheile-Bold-Condensed.otf') ;
    font-weight: 500;
  }


  @font-face {
    font-family: 'Roboto';
    src: url('src/assets/fonts/Roboto-Regular.ttf') ;
    font-weight: 400;
  }

  @font-face {
    font-family: 'Roboto';
    src: url('src/assets/fonts/Roboto-Medium.ttf') ;
    font-weight: 500;
  }
  @font-face {
    font-family: 'Roboto';
    src: url('src/assets/fonts/Roboto-Bold.ttf') ;
    font-weight: 700;
  }